$red : #FF4136 !default;
$blue : #0074D9 !default;
$green : #2ECC40 !default;

$black : #111111 !default;
$white : #FFFFFF !default;

$gray : #AAAAAA !default;
$silver : #DDDDDD !default;

$navy : #001F3F !default;
$aqua : #7FDBFF !default;
$teal : #39CCCC !default;
$olive : #3D9970 !default;
$lime : #01FF70 !default;
$yellow : #FFDC00 !default;
$orange : #FF851B !default;
$maroon : #85144B !default;
$fuchsia : #F012BE !default;
$purple : #B10DC9 !default;
